<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="icon" href="https://haard7.github.io/Myreviser/images/book.png" >
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://haard7.github.io/Myreviser/css/style.css">
  <title>Front Page</title>
</head>
<body>
{% block head %}

{% endblock %}
  

{% block content %}
replace me
{% endblock %}

<section class="footer-page">
    <div class="footer-dark">
          <footer>
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-md-3 item">
                      </div>
                      <div class="col-sm-6 col-md-3 item">
                      </div>
                      <div class="col-md-6 item text">
                          <h3>My Reviser</h3>
                          <p>A website to store importants notes from your courses or anything else and associate it with a picture. Done by Haard Patel, Arpit Anil and Antoine Gauthier-Drapeau for the RU-Hacks 2021 </p>
                      </div>
                      <div class="col item social" id="centerdiv">
                          <a href="https://www.instagram.com"><img src="https://haard7.github.io/Myreviser/images/s1.png" alt=""></a>
                          <a href="https://www.linkedin.com"><img src="https://haard7.github.io/Myreviser/images/s2.png" alt=""></a>
                          <a href="https://www.facebook.com"><img src="https://haard7.github.io/Myreviser/images/s3.png" alt=""></a>
                          <a href="https://www.youtube.com"><img src="https://haard7.github.io/Myreviser/images/s4.png" alt=""></a>
                      </div>
                  </div>
                  <p class="copyright">MyReviser © 2018</p>
              </div>
          </footer>
      </div>
  </section>
  
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
  
  </html>