{% extends 'base.html' %}
<!-- 
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
  <meta charset="utf-8">

  <link rel="icon" href="https://haard7.github.io/Myreviser/images/book.png" >
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://haard7.github.io/Myreviser/css/style.css">
  <title>Front Page</title>
</head>
 -->

    {% block head %}
    {% include 'carousel.html' %}
    {% endblock %}


{% block content %}




<!-- PAGE2 -->


  <section class="page2 ">
      

      <section class="glass">

        <div class="games">
          <div class="status">
            <h1>About</h1>

          </div>
          <div class="cards">
            <div class="card">
              <h2 class="min-card">Take a photo</h2>

            </div>
            <div class="card">
              <h2 class="min-card">Upload to the database</h2>

            </div>
            <div class="card">
              <h2 class="min-card">Retrieve Back when required</h2>

            </div>
          </div>
        </div>
      </section>
      <!-- <div class="circle1"></div>
      <div class="circle2"></div> -->
</section>

{% endblock %}

<!-- Footer section -->

<!--
<section class="footer-page">
  <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social" id="centerdiv">
                        <a href="https://www.instagram.com"><img src="https://haard7.github.io/Myreviser/images/s1.png" alt=""></a>
                        <a href="https://www.linkedin.com"><img src="https://haard7.github.io/Myreviser/images/s2.png" alt=""></a>
                        <a href="https://www.facebook.com"><img src="https://haard7.github.io/Myreviser/images/s3.png" alt=""></a>
                        <a href="https://www.youtube.com"><img src="https://haard7.github.io/Myreviser/images/s4.png" alt=""></a>
                    </div>
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
    </div>
</section>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>
-->